:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#topBackground {
    background-image: url(assets/images/top-image.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    left: 0;
}

#bottomBackground {
    background-image: url(assets/images/bottom-image.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    left: 0;
    bottom: 0;
    background-position: bottom;
    z-index: -1;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 80%;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.container > #page {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > img {
    width: 100%;
    max-width: 757px;
    max-height: 900px;
}

#page h1 {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 3px;
    color: var(--purple);
    text-align: center;
}

#timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}

#page #timer > ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    min-width: 400px;
}

#page #timer ul li {
    color: var(--light-grey);
    font-weight: 300;
    width: 20%;
}

#page #timer li > span {
    font-size: 90px;
    color: var(--black);
    font-weight: 400;
    
}

#page small {
    color: var(--text-color);
    font-size: 15px;
}

#page a {
    background-color: var(--purple);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid transparent;
    transition: all 0.3s;
}

#page a:hover {
    color: var(--purple);
    background-color: white;
    border-color: var(--purple);
}